# A "Simple Program"

In [ ]:
#!pip install pandas_datareader # uncomment and run this to install pandas data reader

In [5]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr # you might need to install this (see above)
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from datetime import datetime

# don't copy and paste these lists and number in several places 
# (which is what the original "simple program" did... that's bad programming!)
# instead, create a var - if we change it here, it changes everywhere
stocks = ['GME','AMC','BB','BBBY','TSLA','GM','VZ']
start_yr = datetime(2021, 1, 1)

# load
stock_prices = pdr.get_data_yahoo(stocks, start=start_yr)
stock_prices = stock_prices.filter(like='Adj Close') # reduce to just columns with this in the name
stock_prices.columns = stocks # put their tickers as column names
print(stock_prices) # print

                   GME      AMC         BB       BBBY        TSLA         GM  \
Date
2021-01-04   17.250000   2.0100   6.580000  18.030001  729.770020  40.509998
2021-01-05   17.370001   1.9800   6.770000  19.760000  735.109985  41.660000
2021-01-06   18.360001   2.0100   6.710000  21.030001  755.979980  42.980000
2021-01-07   18.080000   2.0500   7.060000  18.730000  816.039978  43.320000
2021-01-08   17.690001   2.1400   7.560000  18.940001  880.020020  43.060001
2021-01-11   19.940001   2.2000   7.650000  20.490000  811.190002  45.009998
2021-01-12   19.950001   2.2900   7.630000  21.530001  849.440002  47.820000
2021-01-13   31.400000   2.1800   7.440000  23.020000  854.409973  48.730000
2021-01-14   39.910000   2.1800   9.110000  27.340000  845.000000  51.529999
2021-01-15   35.500000   2.3300   9.840000  25.600000  826.159973  49.970001
2021-01-19   39.360001   3.0600  12.350000  25.030001  844.549988  54.840000
2021-01-20   39.119999   2.9700  12.790000  24.969999  850.450012  55.860001
2021-01-21   43.029999   2.9800  12.850000  26.870001  844.989990  55.080002
2021-01-22   65.010002   3.5100  14.040000  30.209999  846.640015  55.400002
2021-01-25   76.790001   4.4200  18.030001  30.680000  880.799988  53.389999
2021-01-26  147.979996   4.9600  18.920000  36.869999  883.090027  52.040001
2021-01-27  347.510010  19.9000  25.100000  52.889999  864.159973  49.340000
2021-01-28  193.600006   8.6300  14.650000  33.639999  835.429993  51.040001
2021-01-29  325.000000  13.2600  14.100000  35.330002  793.530029  50.680000
2021-02-01  225.000000  13.3000  14.630000  30.260000  839.809998  51.509998
2021-02-02   90.000000   7.8200  11.550000  25.379999  872.789978  52.720001
2021-02-03   92.410004   8.9700  12.000000  28.020000  854.690002  54.250000
2021-02-04   53.500000   7.0900  12.150000  27.010000  849.989990  54.130001
2021-02-05   63.770000   6.8300  13.230000  26.540001  852.229980  54.410000
2021-02-08   60.000000   6.1800  13.760000  26.270000  863.419983  56.880001
2021-02-09   50.310001   5.5000  13.430000  27.120001  849.460022  56.060001
2021-02-10   51.200001   5.8000  13.100000  29.020000  804.820007  54.880001
2021-02-11   51.099998   5.6100  12.460000  27.590000  811.659973  53.500000
2021-02-12   52.400002   5.5900  13.040000  28.150000  816.119995  53.599998
2021-02-16   49.509998   5.6500  12.210000  27.780001  796.219971  53.459999
2021-02-17   45.939999   5.5500  11.320000  26.379999  798.150024  52.889999
2021-02-18   40.689999   5.5100  10.940000  26.290001  787.380005  52.160000
2021-02-19   38.878502   5.6284  10.840000  26.700001  780.109985  52.340199

                   VZ
Date
2021-01-04  58.226662
2021-01-05  57.959522
2021-01-06  58.662003
2021-01-07  58.529999
2021-01-08  57.799999
2021-01-11  57.459999
2021-01-12  57.259998
2021-01-13  57.060001
2021-01-14  57.040001
2021-01-15  57.380001
2021-01-19  57.049999
2021-01-20  57.259998
2021-01-21  57.270000
2021-01-22  57.470001
2021-01-25  58.419998
2021-01-26  56.570000
2021-01-27  55.130001
2021-01-28  55.369999
2021-01-29  54.750000
2021-02-01  54.279999
2021-02-02  54.500000
2021-02-03  54.790001
2021-02-04  55.139999
2021-02-05  55.320000
2021-02-08  55.049999
2021-02-09  55.000000
2021-02-10  54.959999
2021-02-11  54.599998
2021-02-12  54.200001
2021-02-16  54.150002
2021-02-17  56.990002
2021-02-18  56.980000
2021-02-19  56.840000

In [2]:
# this is wide data... so if we want to create a new variable, we have to do it once for each firm...
# what if we have 1000 firms? seems tough to do...
# make long/tidy:
stock_prices = stock_prices.stack().swaplevel().sort_index().reset_index()
stock_prices.columns = ['Firm','Date','Adj Close']
stock_prices # print - now that is formatted nicely, like CRSP!

    Firm       Date  Adj Close
0    AMC 2021-01-04   2.010000
1    AMC 2021-01-05   1.980000
2    AMC 2021-01-06   2.010000
3    AMC 2021-01-07   2.050000
4    AMC 2021-01-08   2.140000
..   ...        ...        ...
226   VZ 2021-02-12  54.200001
227   VZ 2021-02-16  54.150002
228   VZ 2021-02-17  56.990002
229   VZ 2021-02-18  56.980000
230   VZ 2021-02-19  56.838501

[231 rows x 3 columns]

In [ ]:
# add return var.
# MAKE SURE YOU CREATE THE VARIABLES WITHIN EACH FIRM - use groupby
stock_prices['ret'] = stock_prices.groupby('Firm')['Adj Close'].pct_change()
stock_prices # print - the first ret for each firm should be missing...

In [ ]:
(stock_prices
     .assign(ret=1+stock_prices.ret)              # gross returns
     .set_index(['Date','Firm'])['ret'].unstack() # convert to wide format
     .cumprod()
     .plot()
)